<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/sessions/create">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/create">Create account</a>
  </li>
</ul>
