<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="/help/create" method="POST">

                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{session.email}}">
                </div>

                <div class="form-group">
                    <label for="content">Your question</label>
                    <textarea class="form-control" id="content" name="content" rows="3" placeholder="Write your question here..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Send mail</button>
            </form>
        </div>
    </div>
</div>